@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Playwrite+AR:wght@100..400&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    border-bottom-left-radius:50px 20px ;
    border-bottom-right-radius:50px 20px ;
    border-bottom: 8px solid #00b4d8;
    outline: 5px solid #8ecae6;
  font-family: "Lilita One", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  width: 100vw;
    background-color:#03045e;
    color:#fff;
    text-align: center;
    height: 5.6rem;
    line-height:1.9 ;
    transition-duration:0.5s;
}

h1:hover{
    font-size: 4rem;
    line-height: 1.2;
    box-shadow: 0px 30px 30px rgb(61, 79, 218);
}


.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    flex-wrap: wrap;
}

.choice {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
    /* opacity: 0.5; */
     cursor: pointer;
     /* background-color: black; */
     border-width: 7px;
     border-color: rgb(5, 99, 39);

     border-style:double;
     box-shadow: 5px 5px 20px 12px rgb(58, 88, 236);
}
#rock:hover{
    background-color:#fa0834;
}
#paper:hover{
    background-color:#7209b7;
}

#scissors:hover{
background-color: #007bff;
}

.choice img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    /* transition-delay:0.5s ; */
    transition-duration:0.5s;
}

.choice img:hover{
    z-index: 2;
    border: 7px solid rgb(17, 18, 17);
    /* opacity: 0.5; */
    width: 180px;
    height: 180px;
}
.score-board {
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }

.score{
    font-family: "Lilita One", sans-serif;

}

  
#user-score,
#comp-score {
  font-size: 6rem;
  
}

.msg-container {
  margin-top: 5rem;
  text-align: center;
}

#msg {
    font-family: "Lilita One", sans-serif; 
  background-color: #081b31;
  color: #fff;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

@media (max-width:960px){
  .choices{
    flex-direction: column;
  }


}
@media (max-width: 650px) {
    h1 {
      height:12rem;
      line-height:4  ;
    }
    .choices{
        gap:1rem;
    }
    .choice {
        height: 100px;
        width: 100px;
    
    }

    .choice img{
        height: 60px;
        width: 60px;
     
    }

    .choice img:hover{
    
        width: 90px;
        height: 90px;
    }

  
    #user-score,
    #comp-score {
      font-size: 2rem;
      
    }
    
.score>p{
    
font-size:1.5rem;
}

  }
  
  @media (max-width: 400px) {
    h1 {
      height:22rem;
      line-height:4  ;
    }
.score-board{
    margin-top: 1.5rem;
}

    .msg-container {
        margin-top: 1.5rem;
        text-align: center;
      }
      
      #msg {
          font-family: "Lilita One", sans-serif; 
        background-color: #081b31;
        color: #fff;
        font-size: 1.2rem;
        display: inline;
        padding: .6rem;
        
        border-radius: 1rem;
      }

  }
